.cursor-pointer {
  cursor: pointer;
}

.book-cover-img {
  height: 250px;
  object-fit: contain;
  margin-top: 15px;
  margin-left: 15px;
}

.book-title {
  font-size: 1rem;
}

.book-authors,
.book-title,
.book-publisher {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  margin-bottom: 0.5rem;
}

.card {
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 8px rgba(246, 255, 0, 0.2);
}

.book-authors,
.card-text {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.rating-number {
  font-size: 0.875rem;
  font-weight: bold;
}

.book-card {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}
