.book-list-container {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.book-list-title {
  color: #444;
  margin-bottom: 20px;
}

.book-list-container li {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
}

.book-title {
  font-size: 1.2em;
  color: #333;
  font-weight: 600;
}

.book-cover {
  display: block;
  margin: 20px 0px;
  border-radius: 4px;
  width: 150px;
}

.book-rating,
.book-authors,
.book-isbn,
.book-publisher,
.book-description {
  margin: 5px 0;
  font-size: 0.9em;
  color: #555;
}

.book-authors {
  font-style: italic;
}

.show-more {
  text-align: center;

  cursor: pointer;
}

.loading-bar {
  text-align: center;
}

.error-message {
  color: red;
  text-align: center;
}
