.footer {
  background-color: #000000;
  padding: 20px 0;
  position: relative;
  margin-top: auto;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.footer-card {
  border: none;
  background-color: #e6ebf0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer-card .card-body {
  padding: 30px;
}

.footer-card p {
  margin: 0 0 10px;
  font-size: 14px;
}

.footer-card .footer-icon {
  margin-right: 8px;
  color: #ffd700;
}

.footer-card .text-left {
  text-align: left;
  color: #0d0d0d;
}
